@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StarJedi";
  src: url("/src/assets/fonts/Starjhol.ttf") format("truetype");
}

.star-wars-font {
  font-family: "StarJedi", sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-gray-500 !important;
  @apply hidden xl:block !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply text-gray-300 transition-all duration-300 ease-in-out !important;
}

.swiper-pagination-bullet {
  @apply bg-slate-50 -mb-[0.8rem] p-[0.325rem] rounded-full !important;
}

.swiper-pagination-bullet-active {
  @apply bg-slate-300 transition-all duration-300 ease-in-out !important;
}
